*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 25px;
}
header a {
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
#left {
    display: flex;
    gap: 20px;
}
#right {
    align-items: center;
    display: flex;
    gap: 20px;
}

#right i {
    font-size: 20px;
}
#sign-in-btn {
    color: white;
    font-weight: 600;
    background-color: #4285f4;
    border-radius: 3px;
    padding: 7px 14px;
    outline: 0;
    border: 0;
}
main {
    display: grid;
    height: 80vh;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}
#logo {
    width: 272px;
    height: 92px;
    background-image: url(../google_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#search-bar {
    margin: 0 auto;
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
}
#search-bar::after {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../google_microphone_icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
}
#search-bar input {
    width: 100%;
    padding: 12.5px 40px;
    font-size: 16px;
    border: 1px solid #00000030;
    border-radius: 30px;
    outline: 0;
}
#search-icon {
    color: #919191;
    font-size: 1em;
    position: absolute;
    left: 15px;
}
button {
    padding: 10px 20px;
    cursor: pointer;
    outline: 0;
    color: #505050;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover {
    border: 1px solid #00000030;
}
footer {
    padding: 12.5px 30px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
}
footer div {
    display: flex;
    gap: 25px;
}
footer a {
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
}
footer a:hover {
    text-decoration: underline;
}
